body {
  /*padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/  
  font: "Fira Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
}

.under-submission {
    font-style: italic;    
}

a, u {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-weight: bold;
}

.fill-container {
    max-width:100%; 
    max-height:100%;
}